@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,300;1,400&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-item{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    padding: 3%;
}
.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
footer{
    font-size: 1.1rem;
}
h4{
    color: rgb(35, 110, 67);
}
/* p{
    font-size: large;
} */
a:hover{
    text-decoration: none;
}
#s-link:hover{
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

